<h1>Welcome, <%= @user.username %>!</h1><br>
<% @comics.each do |comic| %>
<ul>
  <li><strong><label>Publisher: </strong><%= comic.publisher %></label></li>
  <li><strong><label>Title: </strong><%= comic.title %></label></li>
  <li><strong><label>Volume No.: </strong><%= comic.volume %></label></li>
  <li><strong><label>Release Date (Year): </strong><%= comic.year %></label></li>
</ul><br>
<% end %>

<a href="/comics/new"><button>New Entry</button></a>
<a href="/logout"><button>Log Out</button></a>
