<div class="error">
<% if flash.has?(:wrong_user) %>
  <%= flash[:wrong_user] %>
<% end %>
<% if flash.has?(:wrong_user_edit) %>
  <%= flash[:wrong_user_edit] %>
<% end %>
</div>

<div class="infopage">
<h1>Welcome, <%= @user.username %>!</h1><br>
<h3>Below is a list of everyone's comic books listed for today. Please select your comic book to view, edit or delete.</h3><br>
<% @comics.each do |comic| %>
<ul>
  <li><a href="/comics/<%= comic.id %>"><strong><label>Publisher: </strong><%= comic.publisher %></label></a></li>
  <li><strong><label>Title: </strong><%= comic.title %></label></li>
  <li><strong><label>Volume: </strong><%= comic.volume %></label></li>
  <li><strong><label>Release Date (Year): </strong><%= comic.year %></label></li>
</ul><br>
<% end %>

<a href="/comics/new"><button class="button">New Entry</button></a>
<a href="/profile"><button class="button">View My Collection</button></a>
</div>
