<h1>Welcome, <%= @user.username %></h1>
<% @comics.each do |comic| %>
<ul>
  <li><%= comic.publisher %></a></li>
  <li><%= comic.title %></a></li>
  <li><%= comic.volume %></a></li>
  <li><%= comic.year %></a></li>
</ul>
<% end %>

<a href="/comic_books/new"><button>New Entry</button></a>
<a href="/logout"><button>Log Out</button></a>
