<h1><%= @user.username %>'s Collection of Comic Books</h1>
<% @user.comic_books.each do |comic_book|
<ul>
    <li><%= comic_book.publisher %></li>
    <li><%= comic_book.title %></li>
    <li><%= comic_book.volume %></li>
    <li><%= comic_book.year %></li>  
</ul>
<% end %>