<h1><%= @user.username %>'s Collection of Comic Books</h1>
<% @user.comics.each do |comic|
<ul>
    <li><%= comic.publisher %></li>
    <li><%= comic.title %></li>
    <li><%= comic.volume %></li>
    <li><%= comic.year %></li>  
</ul>
<% end %>